<header class="header_area">

  <div class="header_logo_area">
    <div class="container">
      <div class="row">
        <div class="header_logo clearfix">
          <div class="col-md-5 col-sm-3">
            <div class="site_logo">
              <a href="index.html"><img src="../assets/images/Sporvice-logistikk-horisontal-pantone.png" alt="site logo" style="width: 300px;"></a>

            </div>
          </div>
          <div class="col-md-7 col-sm-9">
            <div class="row">
              <div class="header_top_service clearfix">
                <div class="col-md-4 col-sm-4">
                  <div class="header_we_are clearfix">
                    <dl>
                      <dt>We Are Here</dt>
                      <dd>Bergen  -  Norway</dd>
                    </dl>
                    <i><img src="../assets/images/we-are-here.png" alt=""></i>
                  </div>
                </div>
                <div class="col-md-4 col-sm-4">
                  <div class="header_we_are clearfix">
                    <dl>
                      <dt>Call Us On</dt>
                      <dd><a href="tel:+47-400-09-913">+47 400 09 913</a></dd>
                    </dl>
                    <i><img src="../assets/images/call-us-on.png" alt=""></i>
                  </div>
                </div>
                <div class="col-md-4 col-sm-4">
                  <div class="contact_button">

                    <a href="">CONTACT</a>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="header_bottom_area">
    <div class="container">
      <div class="row">
        <div class="main_menu">
                <nav class="navbar navbar-default">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                      </button>
                      <!-- <a class="navbar-brand" href="#"><img src="img/logo-seven.png" alt=""></a> -->
                    </div>

                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                      <ul class="nav navbar-nav">

                        <!-- <li><a href="home.html">Home</a></li>
                        <li><a href="about-us.html">About us</a></li>
                        <li><a href="services.html">Services</a></li>
                        <li><a href="on-parking.html">On Parking</a></li>
                        <li><a href="blog.html">News</a></li>
                        <li><a href="faq.html">Faq</a></li>
                        <li><a href="contact.html">Contact</a></li> -->
                        <li><a href="#">Home</a></li>
                        <li><a href="#">About us</a></li>
                        <li><a href="#">Services</a></li>
                        <li><a href="#">News</a></li>
                      </ul>
                    </div><!-- /.navbar-collapse -->
                </nav>
            </div>
      </div>
    </div>
  </div>



</header>
