		<!-- Start Footer -->
		<footer class="footer_area">
			<div class="footer_top_area">
				<div class="container">
					<div class="footer_top_up">
						<div class="row">
							<div class="footer_widgets">
								<div class="col-md-3 col-sm-6">
									<div class="single_footer_widgets margin-top-95">
										<h4 class="widget_title">contact Us</h4>
										<ul class="address_list">
											<li>
												<i><img src="images/map-location.png" alt=""></i>
												<dl>
													<dt>Flyplassvegen 521</dt>
													<dd>5258 Blomsterdalen - Norway</dd>
												</dl>
											</li>
											<li>
												<i><img src="images/mobile-icon.png" alt=""></i>
												<dl>
													<dt>+47 400 09 913,</dt>
													<dd>+47 98 287 591</dd>
												</dl>
											</li>
											<li>
												<i><img src="images/message-icon.png" alt=""></i>
												<dl>
													<dt>office@sporvice.no</dt>
													<dd>info@sporvice.no</dd>
												</dl>
											</li>
										</ul>
									</div>
								</div>
								<div class="col-md-3 hidden-sm">
									<div class="single_footer_widgets margin-top-95">
										<h4 class="widget_title">Newsletter</h4>
										<p>
											architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam
										</p>
										<form action="index.html" class="subscribe_form">
	                                        <input type="text" placeholder="Email Address">
	                                    </form>
	                                    <span>
	                                    	architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem
	                                    </span>
	                                    <ul class="footer_social_icons">
	                                    	<li><a href="#"><i class="fa fa-facebook"></i></a></li>
	                                    	<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
	                                    	<li><a href="#"><i class="fa fa-twitter"></i></a></li>
	                                    	<li><a href="#"><i class="fa fa-dribbble"></i></a></li>
	                                    	<li><a href="#"><i class="fa fa-linkedin"></i></a></li>
	                                    </ul>
									</div>
								</div>
							</div>
							<div class="col-md-3 col-sm-6">
								<div class="single_footer_widgets margin-top-95">
                  <h4 class="widget_title">Useful Links</h4>
									<ul class="industry_support">
										<li><a href="#">Get a quote</a></li>
										<li><a href="#">Contact us</a></li>
										<li><a href="#">Customer relationship</a></li>
										<li><a href="#">All services</a></li>
										<li><a href="#">Warehousing</a></li>
									</ul>
								</div>
							</div>
							<div class="col-md-3 hidden-sm hidden-xs">
                <div class="single_footer_widgets margin-top-95">
									<img src="images/sporvice.jpg" alt="footer logo">
									<ul class="footer_copyright">
										<li>Copyright © <a href="#">Sporvice.</a></li>
										<li>All rights reserved. 2021</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
					<div class="footer_top_bottom">
						<div class="row">
							<div class="col-md-3 hidden-sm">
								<div class="single_footer_widgets margin-bottom-65">

								</div>
							</div>
							<div class="col-md-3 col-sm-6">
								<div class="single_footer_widgets margin-bottom-65">

								</div>
							</div>
							<div class="col-md-3 col-sm-6">
								<div class="single_footer_widgets margin-bottom-65">

								</div>
							</div>
							<div class="col-md-3 hidden-sm">

							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="footer_bottom_area">
				<div class="container">
					<div class="row">
						<div class="col-md-6 col-sm-6">
							<div class="footer_bottom_left">
								<nav>
									<ul>
										<li><a href="#">Privacy Policy</a></li>
										<li><a href="#">News</a></li>
										<li><a href="#">FAQ</a></li>
										<li><a href="#">Support</a></li>
									</ul>
								</nav>
							</div>
						</div>
						<div class="col-md-6 col-sm-6">
							<div class="footer_bottom_right floatright">
								<nav>
									<ul>
										<li><a href="#">Home</a></li>
										<li><a href="#">About Us</a></li>
										<li><a href="#">Services</a></li>
										<li><a href="#">On Parking</a></li>
										<li><a href="#">Contact Us</a></li>
									</ul>
								</nav>
							</div>
						</div>
					</div>
				</div>
			</div>
		</footer>
		<!-- End Footer -->
